<!--Feedback form-->

    <h1>Contact Us</h1>
    
    <form>
    <br><input type="text" name="name" id="name" value=""  class="input-block-level" placeholder="Name" /></br>
    <br><input type="text" name="email" id="email" value="" class="input-block-level" placeholder="Email" /></br>
    <br><textarea rows="11" name="message" id="message" class="input-block-level" placeholder="Leave us a message..."></textarea></br>
    <div class="actions">
    <input type="submit" value="Send Your Message" name="submit" id="submitButton" class="btn btn-info pull-left" title="Click here to submit your message!" />
    </div>	
    </form>  				 
    											 


    